<div class="row">
    <h2>{{title}}</h2>
    <div class="col-sm-12">
        <form name="editProduct" ng-submit="saveChanges()" novalidate>

            <div class="form-group" ng-class="{'has-error' : editProduct.Name.$dirty && editProduct.Name.$invalid}">
                <label class="control-label">Product Name*</label>
                <input type="text" class="form-control" name="Name" ng-model="product.Name" required>
            </div>

            <div class="form-group" ng-class="{'has-error' : editProduct.Price.$dirty && editProduct.Price.$invalid}">
                <label class="control-label">Price*</label>
                <input type="text" class="form-control" name="Price" ng-model="product.Price" required number>
                <span ng-show="editProduct.Price.$dirty && editProduct.Price.$error.number" class="help-block">Price must be a number</span>
            </div>

            <button type="submit" class="btn btn-primary pull-right" ng-disabled="editProduct.$invalid">Save</button>
            <a href="#/" class="btn btn-default pull-right">Cancel</a>
        </form>
    </div>
</div>