
<div class="row">
    <div class="col-sm-12">
        <h2>Products</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products" class="product">
                    <td><a href="#/products/{{product.Id}}">{{product.Name}}</a></td>
                    <td>{{product.Price | currency}}</td>
                    <td>{{product.LastModified | date}}</td>
                </tr>
            </tbody>
        </table>
        <loader loader-text="Fetching products" ng-show="products.length==0"></loader>
    </div>
</div>

