body {
  padding-top: 50px;
  padding-bottom: 20px;
}
h2 {
  margin-top: 0;
}
div.page {
  margin-top: 50px;
}
.btn-primary {
  margin-left: 5px;
}
.container {
  position: relative;
}
/* ANIMATIONS
============================================================================= */
div[ng-view].ng-enter {
  -webkit-animation: bounceInUp 1s;
  -moz-animation: bounceInUp 1s;
  -o-animation: bounceInUp 1s;
  animation: bounceInUp 1s;
}
div[ng-view].ng-enter.ng-enter-active {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
div[ng-view].ng-leave {
  -webkit-animation: fadeOutUp 0.5s;
  -moz-animation: fadeOutUp 0.5s;
  -o-animation: fadeOutUp 0.5s;
  animation: fadeOutUp 0.5s;
}
div[ng-view].ng-leave.ng-leave-active {
  position: absolute;
  width: 80%;
  box-sizing: border-box;
}
/*Loading directive*/
.loader {
  text-align: center;
}
.loader span {
  display: block;
}
.loader span[class*="l-"] {
  display: inline-block;
  background: #000;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 12px 2px;
  position: relative;
  -webkit-animation: loader 4s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
  -webkit-animation-fill-mode: both;
  -moz-animation: loader 4s infinite;
  -moz-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
  -moz-animation-fill-mode: both;
  -ms-animation: loader 4s infinite;
  -ms-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
  -ms-animation-fill-mode: both;
  -o-animation: loader 4s infinite;
  animation: loader 4s infinite;
  -o-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
  animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.loader span.l-1 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.loader span.l-2 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.loader span.l-3 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loader span.l-4 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.loader span.l-5 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loader span.l-6 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: translateX(-30px);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(30px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes loader {
  0% {
    -moz-transform: translateX(-30px);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -moz-transform: translateX(30px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes loader {
  0% {
    -ms-transform: translateX(-30px);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -ms-transform: translateX(30px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=Site.css.map */